.nested-list .nested-item {
  padding-left: 40px !important;
}

.nested-list .dark {
  background-color: #c4c5c5;
}

.nested-list .primary {
  background-color: #e2e3e3;
}

.nested-list .hover:hover {
  background-color: #c4c5c5 !important;
}
