.spreadsheet-fetch .submit {
    display: inline-block;
    top: 10px;
}

.spreadsheet-fetch .tableUrl {
    margin-right: 10px;
    width: 85%;
}

.spreadsheet-fetch .colored-text {
    color: red;
}
